[user]
	email = dragonsinth@gmail.com
	name = Scott Blum
[push]
	default = current
	autoSetupRemote = true
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=1,5 -R
	ignorecase = false
	fsmonitor = true
	untrackedcache = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
